<nav class="navbar navbar-expand-lg bg-light px-3 border-bottom border-1 shadow-sm">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Left: Brand -->
    <%= link_to root_path, class: "text-decoration-none text-dark" do %>
      <div class="logo d-flex align-items-center">
        <i class="fa-solid fa-paw paw me-1"></i>
        <span class="pawbnb-logo">paw</span>
        <span class="pawbnb-logo-light">bnb</span>
      </div>
    <% end %>

    <!-- Center: Search bar -->
    <% if current_page?(root_path) %>
      <%= form_with url: root_path, method: :get, local: true, class: "d-flex position-relative mx-auto search-bar" do %>
        <%= text_field_tag :query, params[:query], class: "form-control rounded-pill ps-4 pe-5", placeholder: "Where?" %>
        <button class="btn position-absolute end-0 top-0 bottom-0 me-2 border-0 bg-transparent" type="submit">
          <i class="fa-solid fa-magnifying-glass text-secondary"></i>
        </button>
      <% end %>
    <% end %>
    <!-- Right: Login -->
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-dark fw-bold" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark fw-bold" %>
    <% end %>
  </div>
</nav>
